.customer-review-section {
  margin-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(180deg, #e41b5c 0%, #bf3551 100%);
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.customer-review-section h1 {
  padding-top: 90px;
  margin-bottom: 60px;
  font: bold 50px/67px Effra;
  color: #fff;
}
.customer-review-p-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 10px auto;
  width: 90%;
}
.customer-review-p-div > div {
  background: #fff;
  border-radius: 20px;
  padding: 25px;
}
.customer-review-img-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 80%;
  margin: 40px auto;
}
.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.person img {
  border-radius: 15px;
}
.person h5 {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}
.person p {
  margin: 0;
  font-size: 16px;
  color: #e5edf5;
}
.left-icon {
  position: absolute;
  top: 710px;
  right: 90px;
}
.right-icon {
  position: absolute;
  top: 710px;
  right: 35px;
}
@media (max-width: 992px) {
  .customer-review-p-div,
  .customer-review-img-div {
    grid-template-columns: repeat(2, 1fr);
  }
  .left-icon {
    top: auto;
    bottom: 40px;
    right: 80px;
  }
  .right-icon {
    top: auto;
    bottom: 40px;
    right: 20px;
  }
}
@media (max-width: 768px) {
  .customer-review-p-div,
  .customer-review-img-div {
    grid-template-columns: 1fr;
  }
  .customer-review-section h1 {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .customer-review-section h1 {
    font-size: 26px;
  }
  .person h5 {
    font-size: 18px;
  }
  .person p {
    font-size: 15px;
  }
    .left-icon {
    bottom: 30px;
    right: 70px;
    width: 30px;
  }
  .right-icon {
    bottom: 30px;
    right: 20px;
    width: 30px;
  }

}