.faq-about-section {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
}
.faq-about-section .faq-div {
  height: 486px;
  background: transparent url("images/Group\ 14321.png") 0% 0% no-repeat
    padding-box;
  border-radius: 25px;
  opacity: 1;
}
.faq-about-section .faq-div img {
  margin-left: 200px;
}
.faq-about-section .about-us-div img {
  margin-left: 200px;
}
.faq-about-section .about-us-div {
  height: 486px;
  background: transparent url("images/Group\ 14322.png") 0% 0% no-repeat
    padding-box;
  border-radius: 25px;
  opacity: 1;
}
.faq-about-section h1 {
  text-align: center;
  font: normal normal bold 70px/83px Effra;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
@media (max-width: 991px) {
  .faq-about-section {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .faq-about-section .faq-div,
  .faq-about-section .about-us-div {
    height: auto;
    padding: 40px 20px;
    background-size: cover;
    background-position: center;
  }
  .faq-about-section .faq-div img,
  .faq-about-section .about-us-div img {
    margin-left: 0;
    display: block;
    margin: 20px auto 0;
    max-width: 100%;
  }
  .faq-about-section h1 {
    font-size: 48px;
    line-height: 56px;
  }
}
@media (max-width: 575px) {
  .faq-about-section {
    column-gap: 0;
  }
  .faq-about-section .faq-div,
  .faq-about-section .about-us-div {
    padding: 30px 15px;
    border-radius: 18px;
  }
  .faq-about-section h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .faq-about-section .faq-div img,
  .faq-about-section .about-us-div img {
    max-width: 90%;
  }
}
