.footer-box {
  padding: 1px 100px;
  margin-bottom: 5px;
  height: 400px;
  background: #38103f 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  column-gap: 400px;
  position: relative;
  align-items: center;
  font: normal normal normal 16px/19px Effra;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.footer-right-div {

}
.footer-box .phone-div,
.email-div {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  position: relative;
  align-items: center;
}
.logo {
  margin-bottom: 40px;
}
.p-under-logo {
  width: 370px;
  height: 68px;
}
.footer-list {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  position: relative;
  align-items: center;
}
.footer-list ul {
  list-style-type: none;
}
h3 {
  color: #e41b5c;
}
.copyright-p {
  color: #e41b5c;
  width: 302px;
  height: 22px;
}
.copyright-div {
  margin-top: 40px;
  margin-left: 55px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  position: relative;
  align-items: center;
}
.phone-div {
  margin-top: 30px;
}
.email-div {
  margin-top: 30px;
}
@media (max-width: 1200px) {
  .footer-box {
    padding: 1px 50px;
    column-gap: 200px;
  }
  .footer-list {
    column-gap: 60px;
  }
}
@media (max-width: 992px) {
  .footer-box {
    flex-direction: column;
    height: auto;
    padding: 40px 40px;
    text-align: center;
    column-gap: 0;
  }
  .footer-right-div {
    margin-bottom: 40px;
  }
  .footer-list {
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
    margin-top: 20px;
  }
  .p-under-logo {
    width: 100%;
  }
  .copyright-div {
    justify-content: center;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .footer-list {
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0;
  }
  .footer-list ul {
    text-align: center;
  }
  .footer-box {
    padding: 30px 20px;
  }
  .p-under-logo {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer-box {
    padding: 20px 15px;
  }
  .footer-list ul h3 {
    font-size: 18px;
  }
  .footer-list ul li {
    font-size: 15px;
  }
  .phone-div,
  .email-div {
    justify-content: center;
  }
  .p-under-logo {
    font-size: 14px;
  }
}