body{
  width: 1400px;
   max-width:1650px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow-y: scroll;
  position: relative;
} 
