.get-extra-section {
  height: 489px;
  background: transparent
    radial-gradient(closest-side at 51% 32%, #572160 0%, #391140 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 75px;
  overflow: hidden;
}
.get-extra-section .get-extra-left-div {
  width: 446px;
  height: auto;
  padding: 80px 0 80px 120px;
}
.get-extra-section .get-extra-left-div h4 {
  font-size: 45px;
  line-height: 54px;
  color: #ffffff;
  margin: 0;
}
.get-extra-section .get-extra-left-div h1 {
  margin: 0;
  font-size: 71px;
  line-height: 84px;
  font-weight: bold;
  color: #e41b5c;
}
.get-extra-section .get-extra-left-div p {
  padding: 25px 0 45px;
  font-size: 31px;
  line-height: 37px;
  color: #ffffff;
  margin: 0;
}
.get-extra-section .get-extra-left-div .get-extra-p-icon-div {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.get-extra-section .get-extra-right-div {
  width: 703px;
  height: 100%;
  background: url("img/Group 14320.png") no-repeat center;
  background-size: contain;
}
.view-more-button {
  width: 221px;
  height: 50px;
  background: #e41b5c;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}
@media (max-width: 1024px) {
  .get-extra-section {
    height: auto;
    flex-direction: column;
    padding: 60px 40px;
    text-align: center;
  }
  .get-extra-section .get-extra-left-div {
    width: 100%;
    padding: 40px 0;
    text-align: center;
  }
  .get-extra-section .get-extra-right-div {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    background-size: contain;
  }
  .get-extra-section .get-extra-left-div h1 {
    font-size: 55px;
    line-height: 65px;
  }
  .get-extra-section .get-extra-left-div p {
    font-size: 26px;
    line-height: 34px;
  }
  .get-extra-section .get-extra-left-div .get-extra-p-icon-div {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .get-extra-section {
    height: auto;
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }
  .get-extra-section .get-extra-left-div {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .get-extra-section .get-extra-left-div h4 {
    font-size: 32px;
    line-height: 40px;
  }
  .get-extra-section .get-extra-left-div h1 {
    font-size: 45px;
    line-height: 55px;
  }
  .get-extra-section .get-extra-left-div p {
    font-size: 22px;
    line-height: 30px;
  }
  .get-extra-section .get-extra-right-div {
    width: 100%;
    height: 260px;
    margin: 0 auto;
    background-size: contain;
  }
  .get-extra-section .get-extra-left-div .get-extra-p-icon-div {
    justify-content: center;
  }
  .view-more-button {
    width: 180px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .get-extra-section .get-extra-left-div h1 {
    font-size: 38px;
    line-height: 48px;
  }
  .get-extra-section .get-extra-left-div p {
    font-size: 20px;
    line-height: 28px;
  }
  .get-extra-section .get-extra-right-div {
    height: 220px;
  }
}
