.get-benefits-section {
  position: relative;
  padding: 70px 150px 40px 150px;
  margin: 100px 0 75px 0;
  background: #ffffff;
  box-shadow: 0px 0px 20px #00000014;
  border-radius: 20px;
}
.get-benefits-section-up-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.get-benefits-section h1 {
  padding-bottom: 20px;
  font-size: 50px;
  text-align: center;
  margin: 0;
}
.get-benefits-section h1 .get-span {
  font: normal normal bold 50px/67px Effra;
  color: #391140;
}
.get-benefits-section h1 .benefits-span {
  font: normal normal bold 50px/67px Effra;
  color: #e41b5c;
}
.get-benefits-section-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.get-benefits-section h3 {
  font: normal normal bold 18px/28px Effra;
  color: #e41b5c;
  margin: 10px 0 5px 0;
}
.get-benefits-section p {
  font: normal normal normal 16px/24px Effra;
  color: #222a41;
  margin: 0 0 40px 0;
}
.get-benefits-section p,
.get-benefits-section .cashback-rewards-p,
.get-benefits-section .voucher-coupons-p,
.get-benefits-section .personalized-shopping-p,
.get-benefits-section .invite-friends-p,
.get-benefits-section .transfer-points-p {
  width: auto;
  height: auto;
}
.get-benefits-section img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1200px) {
  .get-benefits-section {
    padding: 60px 80px 40px 80px;
    height: auto;
  }
  .get-benefits-section h1 {
    font-size: 42px;
  }
  .get-benefits-section h1 .get-span,
  .get-benefits-section h1 .benefits-span {
    font-size: 42px;
    line-height: 55px;
  }
}
@media (max-width: 992px) {
  .get-benefits-section {
    padding: 50px 40px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .get-benefits-section-div {
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .get-benefits-section-div > img {
    max-width: 80%;
    margin-bottom: 30px;
  }
  .get-benefits-section h1 {
    font-size: 36px;
    padding-left: 0;
  }
  .get-benefits-section h1 .get-span,
  .get-benefits-section h1 .benefits-span {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .get-benefits-section {
    padding: 40px 20px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
  }
  .get-benefits-section h1 {
    font-size: 30px;
    text-align: center;
    padding-left: 0;
  }
  .get-benefits-section h1 .get-span,
  .get-benefits-section h1 .benefits-span {
    font-size: 30px;
    line-height: 40px;
  }
  .get-benefits-section h3 {
    font-size: 16px;
    text-align: center;
  }
  .get-benefits-section p {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 30px;
  }
  .get-benefits-section-div {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
  .get-benefits-section .cashback-rewards-p,
  .get-benefits-section .voucher-coupons-p,
  .get-benefits-section .personalized-shopping-p,
  .get-benefits-section .invite-friends-p,
  .get-benefits-section .transfer-points-p {
    width: 100%;
    height: auto;
  }
  .get-benefits-section-up-img {
    display: none;
  }
}